
.profile-checkpoint-chapter{
  border-right:1px black solid;
  padding-right: 4px;

}
.checkpoint-box{
  display: flex;
  gap: 0.5rem; /* optional spacing between the two p tags */
  align-items: center; /* vertically align text if heights differ */
  border:1px black solid;
  width:fit-content;
 
  padding:1.5px;
  padding-right:4px;
}

.checkpoint-box p {
  margin: 0;
 
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* responsive columns */
    gap: 1rem;
    
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
  }

  .display-grid p{
    margin:2px;
  }
