@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&family=Signika:wght@300..700&display=swap');

.top-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  
  background-color: #c084fc;
  padding: 20px;
}

.header-name{
  font-family: 'Press Start 2P';
  font-size: 1.4rem;
 
}


.header-name-box{
  display: flex;
  justify-content: center;
  padding-left: 10px;

}

.input-boxes{
  display: flex;
  gap: 8px; /* space between inputs */
  flex-wrap: wrap;
  padding-right: 10px;
  justify-content: center;
}


.submit-button-main-container{
  display: flex;
  justify-content: center;
  margin-top:10px;
}
.sign-up-link{
  float:right;
}

.username, .password, .submit-button-main, .sign-up-link{
  font-family:'Nunito';

}




/*Section Below for all styles related to time display */


.nav-list-categories{
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1A1A2E;

}

li {
  float:left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-left:5.2267vw;
  padding-right:5.2267vw;
  text-decoration: none;
  border-right:2px white solid;
  border-top:2px white solid;

  
}

li a:hover {
  background-color: #111;
}

.nav-list-categories li:last-child a{
  border-right: none;      /* remove border on last item */
}

.checkpoint-box {
  display: grid;
  gap: 0.2rem;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  border: 1.5px black;
  place-items: center;
  padding-right: 5px;
  padding-left: 5px;


}


/* Ensure all input fields have the same width */
.checkpoint-time {
  width: 100%;
  font-family: 'Poppins';
  margin: 0;
}



.checkpoints .checkpoint-box:not(:last-child){
  border-bottom: 1.5px solid #000;
  padding-bottom: 5px;

}

.checkpoints {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1.5px solid black;
  row-gap: 5px;


}
/* Make all display grid items consistent */
.display-grid-item {
  border-collapse: collapse;
 
  /* Add consistent width and padding */
  width: 100%;
 
}

.row-marker {

  grid-column: 1 / -1; /* span full row */


  padding: 5px;
  background-color: #e347e5;

}


/* Make all display grids consistent */
.display-grid {
  display: grid;
  padding:50px;
  /* Use a more consistent grid template */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  align-items: start center;
  width: 100%;
}


/* Make checkpoint names consistent width */
.checkpoint-name {
  width: 100%;
  text-align: center left;
  margin: 0;
  font-family: 'Poppins';
}

/* Make checkpoint times consistent width */

.chapter-header{
  text-align: center;
  font-family: 'Press Start 2P';
}

.right-half{
  flex:1.2;
  background-color: rgb(58, 65, 101);
}
.left-half{
  flex:1;
  background-color: #afe3ea;
}

.profile-headers{

  border-top: 10px solid black;
  display: flex;
 

  background-color: #afe3ea;
  height:140px;
}

.profile-name {
  font-family: 'Poppings';
  font-size: 2rem;
  margin:10px;
  padding:10px;
  border:white solid 2px;
  border-radius: 5px;
  width:fit-content;
  color: #222;
}

.category-name {

  font-size: 2.5rem;

  color: #444;

}

body{
  background: linear-gradient(135deg, #C3ECF1, #89a1bf);
  margin:0;
  padding:0;
  width:100%
}

* {
  box-sizing: border-box;
}