{% extends 'layout.html' %}
{% block content %}
<div class="about-page">
    <h1>About Celeste Speedrunning:</h1>
    <p>Celeste, being a 2D movement based platformer is a perfect speedrunning game.
         The three main game mechanics: Dashing, jumping, and climbing, can be combined in various ways to progress through levels incredibly fast</p>
    
    <p>This site, Celeste Splits, provides a way of measuring a players fastest time in various checkpoints over various categories. These are called splits.</p>
    <p>Categories that can be tracked in this site include:</p>
    <ul>
        <li>Any%</li>
        <p>Beat the main game (mount the summit) as fast as possible. </p>
        <li>ARB</li>
        <p>Get all collectibles (berries) as fast as possible.</p>
        <li>100%</li>
        <p>Beat the full game: A, B, and C sides along with all berries and farewell as fast as possible.</p>
    </ul>
<img src="static\images\download (1).png" alt="">
</div>
{% endblock %}