{% extends 'layout.html' %}  
{% block content %}
<a href="/get_times/{{user_id}}/1">any%</a>
<a href="/get_times/{{user_id}}/2">ARB</a>
<a href="/get_times/{{user_id}}/3">100%</a>
<a href="/get_times/{{user_id}}/4">True Ending</a>
<a href="/get_times/{{user_id}}/5">Bny%</a>
<a href="/get_times/{{user_id}}/6">Cny%</a>

<form action="{{url_for('update_times', user_id=user_id, category_id=category_id)}}" method="POST">
    {% for chapter in data_dictionary %}
    <h1>{{chapter}}</h1>
    {% for checkpoint in data_dictionary[chapter] %}
    <input type="text" name="checkpoints[]" placeholder="{{checkpoint[0]}} {{checkpoint[1]}}">
    
    {% endfor %}
    {% endfor %}
    <button type="submit" name="submit_button">Submit</button>
</form>


{% endblock %}