{% extends 'layout.html' %}
{% block content %}
<div class="category-list-leaderboard-centerer">
<div id="categorySelect" class="category-list-leaderboard">
  <button data-category="1" class="active">Any%</button>
  <button data-category="2">ARB</button>
  <button data-category="3">100%</button>
  <button data-category="4">Bny%</button>
  <button data-category="5">Cny%</button>
  <button data-category="6">True Ending</button>
</div>
</div>


<div class="sum-of-best-table">
<div id="leaderboardname" class="leaderboardname"></div>
<div id='leaderboard' class="leaderboard">

</div>
</div>
<script>
  document.getElementById('categorySelect').addEventListener('click', function (e) {
    if (!e.target.matches('button')) return;


    document.querySelectorAll('#categorySelect button').forEach(btn => btn.classList.remove('active'));


    e.target.classList.add('active');

   
    const category = e.target.dataset.category;
    fetch(`/get_leaderboard?category=${encodeURIComponent(category)}`) // Run get_leaderboard route with parameter of category selected
      .then(response => response.json())
      .then(data => { // Data contains the results
        const leaderboardDiv = document.getElementById('leaderboard'); // Select the leaderboard div
        const leaderboardnameDiv = document.getElementById('leaderboardname')
        if (data.length === 0) { // If no results
          leaderboardDiv.innerHTML = '<p class="no-results">No results found for this category.</p>'
          leaderboardnameDiv.innerHTML = '<p></p>'
        }
        else { // If results then map the leaderboard div with values of the username, the sum of best, and a ranking
          leaderboardnameDiv.innerHTML = '<h3 class=sum-of-best-header>Leaderboard</h3>'
          leaderboardDiv.innerHTML = data.map((entry, i) => ` 
          <tr class='sum-of-best-values'><td class='sum-of-best-rank'>${i + 1}.</td> <td class='sum-of-best-username>${entry.username}:</td> <td class='sum-of-best-time'>${entry.sum_of_bests}</td></tr><br>
        `).join('');
        }
      });
  });


  window.addEventListener('DOMContentLoaded', () => {
    const defaultButton = document.querySelector('#categorySelect button.active');
    defaultButton.click();
  }); // On initial load, run the function. This will default to the first category
</script>
{% endblock %}