<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Celester</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="whole-site">
        <main>
            <div class="entire-header">
                <div class="top-header">

                    <div class="header-name-box"> <!-- The site name and image -->
                        <h1 class="header-name">Celeste Splits</h1>
                        <img class='header-image' src="/static/images/berry.png" alt="berry">
                    </div>

                    <div class="header-signin-div">
                        {% if g.user %} <!-- If user logged in add their pfp and username -->
                        <div class="signed-in-div">
                            <div class="signed-in-div-second">
                                <p class="profile-name" style="max-width: none;">{{g.user[0][1]}}</p>
                                <img src="{{ url_for('static', filename='pfps/' + g.user[0][5]) }}"
                                    class="profile-picture-header" alt="pfp">
                            </div>

                            <a href="/logout" class="logout">Logout</a>
                        </div>
                        {% else %} <!-- Else add signin link -->
                        <a class='header-signin' href="/signin">Sign in!</a>
                        {% endif %}
                    </div>

                </div>

                <div class="home-page-nav-bar">

                    <div class="leftside-home-page-nav"> <!-- Nav bar -->
                        <a class='sign-up-link' href="/">Home</a>
                        {% if not g.user %}
                        <a class='sign-up-link' href="/signup">Sign Up</a>
                        {% endif %}
                        <a class='sign-up-link' href="/about">About Celeste</a>
                        {% if g.user %} <!-- If logged in add profile and splits page -->
                        <a class='sign-up-link' href="/profile/{{g.user[0][0]}}/1">Profile</a>
                        <a class='sign-up-link' href="/get_times/{{g.user[0][0]}}/1">Splits</a>
                        {% endif %}
                    </div>

                    <div class="search-users-box"> <!-- Search bar -->
                        <form class="input-boxes-form" action="{{url_for('search')}}" method='POST'>
                            <input type="text" class="username" name="search-username" maxlength=20
                                placeholder="Search Users...">
                        </form>
                    </div>

                </div>
            </div>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="footer-div">
                <div class="footer-about">
                    <p>
                        About Celeste Splits:
                    </p>
                    <p class="siteabout">
                        Site dedicated to taking down Google Spreadsheets!
                    </p>
                </div>
                <p>Please provide feedback <a href="https://docs.google.com/forms/d/e/1FAIpQLScbd85uKv9Tij9ODZMotNkG7D1iW3oHVArqmUzMAkvyPrPuAg/viewform?usp=dialog">here</a></p>
                <div>
                <p>
                    Images by <a href="https://maddymakesgames.com/" target="_blank">Maddy Makes Games</a>, licensed
                    under
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>.
                </p>
                <p>Contact us at 22241@burnside.school.nz</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>