{% extends 'layout.html' %}
{% block content %}

<div class="profile-headers">
    <div class="left-half">
    <h1 class="profile-name">{{user_name[0]}}</h1>
    </div>
    <div class="right-half">
        <ul class="sob-list">
        <h3>SOB Categories:</h3>
        {% for category in sob_dict %}
            <li>{{category}}:{{sob_dict[category]}}</li>
        {% endfor %}
        </ul>
    </div>


</div>
<div class="nav-list-categories">

    <ul class="nav-list-categories">
        <li><a href="/">Home</a></li>
        <li><a href="/profile/{{user_id}}/1">any%</a></li>
        <li><a href="/profile/{{user_id}}/2">ARB</a></li>
        <li><a href="/profile/{{user_id}}/3">100%</a></li>
        <li><a href="/profile/{{user_id}}/4">True Ending</a></li>
        <li><a href="/profile/{{user_id}}/5">Bny%</a></li>
        <li><a href="/profile/{{user_id}}/6">Cny%</a></li>
    </ul>
</div>
<h2 class="category-name">{{name[0]}}</h2>
<div class="display-grid">
    {% for chapter in data_dictionary %}
    <div class="display-grid-item">
        <h2 class="chapter-header">{{chapter}}</h2>
        <div class="checkpoints">
            {% for checkpoint in data_dictionary[chapter] %}
            <div class="checkpoint-box">
                <p class="checkpoint-name">{{' '.join(checkpoint[0].split(' ')[:-1])}}</p>
                <p class="checkpoint-time">{{checkpoint[1]}}</p>
            </div>
            {% endfor %}


        </div>
    </div>
    {% if loop.index % 3 == 0 %}
    <div class="row-marker"></div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}